// zander 2018.01.22

html, body {
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
ul, li {
    margin: 0;
    list-style: none;
}